ul.posts {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul.posts li {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #DDD;
}
ul.posts li .header {
    font-size: 0.8em;
}
ul.posts li .header .date {
    text-transform: uppercase;
    font-weight: 600;
}

ul.posts li p {
    line-height: 2em;
}
ul.posts li .read-container {
    margin-bottom: 20px;
}
ul.posts li a.read {
    font-weight: 600;
    text-transform: uppercase;
    font-weight: 0.8em;
}

/* tag */

.tag-container {
    font-size: 0.8em;
}

.tag-container .tag {
    text-transform: uppercase;
    font-weight: 600;
    color: #a1a1a1;
}