body {
    padding-top: 90px;
    color: #3D3D3D;
    font-family: 'Dosis', sans-serif;
    font-size: 16px;
  }
  a, a:hover {
    color: #0984e3;
  }
  ul {
    -webkit-padding-start: 15px;
  }
  @media (min-width: 1200px) {
    .container {
      width: 900px;
    }
  }
  ul.side-nav.fixed {
    position: fixed;
    top: 55px;
  }
  ul.side-nav li.separator {
    font-size: 0.9em;
    font-weight: 500;
    padding: 7px 15px;
    color: #DDD;
  }
  ul.side-nav li.copyright a {
    margin-top: 20px;
  }
  ul.side-nav li a {
    font-weight: 500;
    color: inherit;
    display: block;
    padding: 7px 15px;
  }
  ul.side-nav li.active a {
    color: #0984e3;
  }
  ul.side-nav li a:hover {
    text-decoration: none;
    color: #0984e3;
  }
 
  a.navbar-brand.brand {
    font-size: 1.5em;
    font-weight: bold;
    color: inherit;
  }
  a.navbar-brand.brand:hover {
    color: #0984e3;
  }
  .profile {
    text-align: center;
    margin: 20px 0;
  }
  .profile img {
    width: 50%;
    border-radius: 100%;
  }
  .profile .name {
    font-weight: 600;
    margin: 5px 0;
  }
  .profile .description {
    margin: 5px 0;
    font-size: .9em;
  }
  .navbar-fixed-top {
    background: #FFF;
    padding: 20px 0;
  }
  .navbar-fixed-top.no-border {
    border: none;
  }
  .form-control,
  select {
    border-radius: 0;
  }
  h1 {
    padding: 10px 0;
    margin: 10px 0 10px 0;
    font-size: 1.8em;
    font-weight: 600;
  }
  h2 {
    font-size: 1.4em;
    font-weight: 600;
    margin: 5px 0 10px 0;
    padding: 0;
  }
  h2.border {
    padding-bottom: 12px;
    border-bottom: 1px solid #DDD;
  }
  h3 {
    font-size: 1.2em;
    font-weight: 600;
    margin: 5px 0 10px 0;
    padding: 0;
  }
  ul.archive {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  ul.archive li:last-child {
    border-bottom: none;
  }
  ul.archive li a {
    display: block;
    padding: 10px;
    color: inherit;
  }
  ul.archive li a span.date {
    font-size: .8em;
    color: #AAA;
  }
  ul.archive li:hover a {
    color: #0984e3;
    text-decoration: none;
    border-left: 2px solid #0984e3;
    padding: 10px 10px 10px 8px;
  }
  .timestamp {
    font-size: 0.9em;
    font-weight: 300;
  }
  .post-detail p {
    font-size: 1.1em;
    line-height: 1.4em;
    margin: 12px 0;
  }
  .post-detail img {
    width: 100%;
  }
  .post-detail twitterwidget {
    margin: auto;
    padding: 40px 0;
  }
  .caption {
    width: 98.5%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 300;
    margin: 5px 0;
  }
  @media (max-width: 768px) {
    .caption{
      text-align: center;
    }
  }
  .photo-info address{
    margin: 10px 0;
  }
  .post-detail iframe.instagram-media {
    margin: 40px auto !important;
  }
  ul.language {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  ul.language li {
    display: inline-block;
  }
  ul.language li a {
    color: inherit;
    font-weight: 400;
  }
  ul.language li.active a {
    color: #0984e3;    
    font-weight: 600;
  }
  address {
    margin-bottom: 0;
  }

  ul.main-menu li a {
    text-transform: uppercase;
    color: inherit !important;
    font-weight: 600;
  }
  ul.main-menu li a:hover,
  .navbar-default .navbar-nav>.active>a,
  ul.main-menu li a:hover, .navbar-default .navbar-nav>.active>a, .navbar-nav>.active>a:hover {
    color: #0984e3 !important;
    background: inherit !important;
  }

  .portfolio > .item {
    margin-bottom: 20px;
  }
  .portfolio > .item > .inner {
    border: 1px solid #DDD;
    border-radius: 2px;
  }
  .portfolio > .item > .inner > .image-container {
    display: block;
    text-align: center;
  }
  .portfolio > .item > .inner > .image-container > img {
    width: 100%;
  }

  .portfolio > .item > .inner > .foot {
    padding: 20px;
  }
  .portfolio > .item > .inner > .foot > h3 {
    padding: 0;
    margin: 0;
    font-size: 1.2em;
    font-weight: 600;
    width: 75%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 10px;
  }
  .portfolio > .item > .inner > .foot > .date {
    font-weight: 300;
    font-size: 0.9em;
    color: #AAA;
  }

  .portfolio > .item > .inner > .foot > .detail-link {
    float: right;
    display: block;
    padding: 3px 10px;
    color: inherit;
    border: 1px solid #AAA;
    border-radius: 2px;
    font-size: 0.8em;
    font-weight: 600;
  }
  .portfolio > .item > .inner > .foot > .detail-link:hover {
    text-decoration: none;
    background: #0984e3;
    border: 1px solid #0984e3;
    color: #FFF;
  }
  .portfolio-tag {
    margin: 40px 0;
  }
  .portfolio-tag a {
    color: inherit;
  }
  .portfolio-tag .active a {
    background: #0984e3;
    color: #FFF;
    padding: 0 10px;
    border-radius: 2px;
  }

  .footer {
    text-align: center;
    background: #F9F9F9;
    padding: 20px 0;
  }

  .social a{
    font-size: 1.2em;
    color: inherit;
  }

  .social a.twitter:hover {
    color: #1dcaff;
  }
  .social a.instagram:hover {
    color: #9b6954;
  }
  .social a.linkedin:hover {
    color: #0077B5;
  }
  .back-to-top {
    text-align: center;
    padding: 10px 0;
    background: #F5F5F5;
    cursor: pointer;
  }

  .footer .copyright {
    margin: 10px 0;
  }
  .dl-horizontal address {
    line-height: 1.8em;
  }
  .container.fluid {
    padding-right:0;
    padding-left:0;
    margin-right:auto;
    margin-left:auto
  }
  .gallery > .item > .caption {
    padding: 10px 0;
    margin-bottom: 20px;
  }
  .gallery > .item > .caption a.tag {
    color: inherit;
  }
  .gallery > .item > .img-thumbnail {
    position: relative;
    overflow: hidden;
    margin: auto;
    width: 285px;
    height: 285px;
    display: block;
  }
  .gallery > .item > .img-thumbnail img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
  }

  .gallery > .item > .img-thumbnail img.portrait {
    width: 100%;
    height: auto;
  }

  @media (max-width: 1200px) {
    .gallery > .item > .img-thumbnail{
      width: 285px;
      height: 285px;
    }
  }
  @media (max-width: 992px) {
    .gallery > .item > .img-thumbnail{
      width: 350px;
      height: 350px;
    }
  }
  @media (max-width: 768px) {
    .gallery > .item > .img-thumbnail{
      width: 500px;
      height: 500px;
    }
  }
  .gallery .detail img {
    width: 100%;
  }

  .pager li>a:hover {
    text-decoration: none;
    background-color: #FFF;
    border: 1px solid #0984e3;
  }

  .pagination > li > a, 
  .pagination > li > span {
    border: none;
    color: #0984e3;
  }

  .pagination > .active > a, 
  .pagination > .active > a:focus, 
  .pagination > .active > a:hover, 
  .pagination > .active > span, 
  .pagination > .active >span:focus,
  .pagination > .active >span:hover {
    color: inherit;
    font-weight: bold;
    cursor: default;
    background-color: transparent;
    border: none;
  }

  .pagination > li > a:focus, 
  .pagination > li > a:hover, 
  .pagination > li > span:focus, 
  .pagination > li > span:hover {
    text-decoration: underline;
    background: transparent;
  }

  .btn:active {
    box-shadow: none;
  }


  /* helper */

  .top-tall {
    margin-top: 10px;
  }
  .top-grande {
    margin-top: 20px;
  }
  .top-venti {
    margin-top: 40px;
  }
  .bottom-tall {
    margin-bottom: 10px;
  }
  .bottom-grande {
    margin-bottom: 20px;
  }
  .bottom-venti {
    margin-bottom: 40px;
  }